<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Websocket ChatRoom</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <th:block th:replace="fragments/htmlHeader"></th:block>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="container" id="app" v-cloak>
    <ul class="list-group" style="height: 80vh; overflow-y: auto; word-wrap: break-word; word-break: break-all">
        <li class="list-group-item" v-for="message in messages" :class="{'float-right': message.sender === senderId}">
            <p v-if="message.sender !== senderId">{{message.senderName}} 님 - {{message.message}}</p>
            <p v-else align="right">{{message.message}} - {{message.senderName}} 님</p>
        </li>
    </ul>
    <div class="input-group" style="width: 100%; word-wrap: break-word;">
        <div class="input-group-prepend">
            <label class="input-group-text">내용</label>
        </div>
        <input type="text" class="form-control" v-model="message" v-on:keypress.enter="sendMessage">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" @click="sendMessage">보내기</button>
        </div>
    </div>
    <div></div>
</div>

<input type="hidden" th:value="${roomInfo}" id="roomInfoId"/>
<input type="hidden" th:value="${nowSender}" id="nowSender"/>
<script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    var sock = new SockJS("/ws/chatting");
    var ws = Stomp.over(sock);
    var reconnect = 0;
    var getRoomId = $('#roomInfoId').val();
    var getUserId = $('#nowSender').val();
    var vm = new Vue({
        el: '#app',
        data: {
            roomId: '',
            senderId: '',
            senderName: '',
            message: '',
            messages: [],
        },
        created() {
            this.senderId = getUserId;
            this.roomId = getRoomId;
            this.findMessage();
        },
        methods: {
            findMessage: function() {
                axios.get('/room/'+this.roomId+'/messages').then(response =>{this.messages = response.data;});
            },
            sendMessage: function() {
                ws.send("/app/chat/message", {}, JSON.stringify({sender:this.senderId, message:this.message, roomId:this.roomId}));
                this.message = '';
            },
            recvMessage: function(recv) {
                this.messages.unshift({"sender":recv.sender,"senderName":recv.senderName, "message":recv.message})
            }
        }
    });

    function connect() {
        ws.connect({}, function(frame) {
            ws.subscribe("/queue/chat/room/enter/"+vm.$data.roomId, function(message) {
                var recv = JSON.parse(message.body);
                vm.recvMessage(recv);
            });
        },
            function(error) {
            if(reconnect++ <= 5) {
                setTimeout(function() {
                    console.log("connection reconnect");
                    sock = new SockJS("/ws/chatting");
                    ws = Stomp.over(sock);
                    connect();
                },10*1000);
            }
        });
    }
    connect();
</script>
</body>
</html>