spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/fighTeam
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create # create 애플리케이션 실행 시점에 엔티티를 다 지우고 다시 시작
    properties:
      hibernate:
        #        show_sql: true
        format_sql: true
        default_batch_fetch_size: 100
  #    open-in-view: false # OSIV 설정
  data:
    web:
      pageable:
        default-page-size: 10
        max-page-size: 2000
logging.level:
  org.hibernate.SQL: debug
  org.hibernate.orm.jdbc.bind: trace #스프링 부트 3.x, hibernate6