<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/htmlHeader" >
    <meta charset="UTF-8">
    <title>보증금 결제</title>
</head>
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container-fluid">
<!--    <div class="row flex-nowrap">-->
<!--        <div th:insert="fragments/mypageSide :: sidebar" class="col-3 bd-sidebar"/>-->
<!--        &lt;!&ndash;여기까지가 sidebar &ndash;&gt;-->



<!--        <main class="col-9 py-md-3  bd-content" role="main">-->
<!--            <div class="bd-cheatsheet container-fluid bg-body">-->
<!--                &lt;!&ndash; 여기까지 공통으로 설정&ndash;&gt;-->


            <h1>보증금 결제</h1>
            <form role="form" th:action="@{/payment/submit}" th:object="${paymentDto}" method="post">
            <!--    <input type="hidden" th:name="id" th:value="${apply.id}" />-->
            <div class="form-group">

                <input type="hidden" th:field="*{postId}"/>
                <input type="hidden" th:field="*{postDeposit}"/>
                <input type="hidden" th:field="*{postTitle}"/>
                <input type="hidden" th:field="*{userDeposit}"/>
                <input type="hidden" th:field="*{userId}"/>

            </div>
            <div class="form-group">
                <label for="postId">결제 내역: 게시글 </label>
                <span th:text="*{postTitle}" id="postId"></span></br></br>
            </div>
            <div class="form-group">
                <label for="cost">결제 금액</label>
                <span  id="cost" th:text="${paymentDto.postDeposit} + '원'" ></span><br><br>
            </div>
            <div class="form-group">
                <label for="balance">현재잔액:</label>
                <span  id="balance" th:text="${paymentDto.userDeposit} + '원'" ></span><br><br>
            </div>
            <div class="form-group">
                <label>결제후 잔액:</label>
                <span  th:text="${paymentDto.userDeposit} - ${paymentDto.postDeposit} + 원"></span></br></br>
            </div>

                <div>
                    <span th:if="${errorMessage != null}" class="alert alert-danger" th:text="${errorMessage}"></span></br></br>
                </div>
            <button type="submit" class="btn btn-danger" formaction="/charge">보증금 충전</button>
            <button type="submit" class="btn btn-danger" >보증금 결제</button>

        </form>
        </div>
<!--        </main>-->
<!--        </div>-->
<!--</div>-->
</body>
</html>