<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.6/index.global.min.js'></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script>
    function acceptApply(user_id, post_id){
      sessionStorage.setItem('apply_user_id', user_id);
      sessionStorage.setItem('apply_post_id', post_id);
      window.location.href =  "http://localhost:8080/AcceptApply";
    }
    function denyApply(user_id, post_id){
      sessionStorage.setItem('apply_user_id', user_id);
      sessionStorage.setItem('apply_post_id', post_id);
      window.location.href =  "http://localhost:8080/DenyApply";
    }
    function openModal(post_id) {
        document.getElementById("modal").style.display = "block";
        document.getElementById("param_post_id").value = post_id;
    }
    function closeModal() {
        document.getElementById("modal").style.display = "none";
    }
    function openModal2(user_id, post_id, control) {
      if(control == 'deny'){
        document.getElementById("modal2h6").innerHTML = user_id+"님의 신청을 거절/취소 하시겠습니까?";
        document.getElementById("modal2_form").action = "/DenyApply";
        document.getElementById("modal2_post_id").value = post_id;
        document.getElementById("modal2_user_id").value = user_id;
        document.getElementById("modal2_post_id").type = "hidden";
        document.getElementById("modal2_user_id").type = "hidden";
      }else if(control == 'accept'){
        document.getElementById("modal2h6").innerHTML = user_id+"님의 신청을 수락 하시겠습니까?";
        document.getElementById("modal2_form").action = "/AcceptApply";
        document.getElementById("modal2_post_id").value = post_id;
        document.getElementById("modal2_user_id").value = user_id;
        document.getElementById("modal2_post_id").type = "hidden";
        document.getElementById("modal2_user_id").type = "hidden";
      }
      document.getElementById("modal2").style.display = "block";
    }
    function closeModal2() {
      document.getElementById("modal2").style.display = "none";
    }
  </script>
  <style>
    #applier_container{
      position: fixed;
      left: 5%;
    }
    #applier_list{
      width: 800px;
      height: 700px;
      overflow: auto;
    }
    #member_container{
      position: fixed;
      right: 5%;
    }
    #member_table{
      width:700px;
      height: 700px;
      overflow: auto;
    }
    #modal,#modal2 {
			display: none;
			z-index: 1;
			position: fixed;
            top: 0;
            left: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: rgba(0, 0, 0, 0.4);
		}
  </style>
</head>
<body>
<div id="header" th:include="header"></div>
<div id="applier_container">
  <input type="hidden" th:value="${post_id}" id="hidden_post_id"/>
<h2>신청자 리스트</h2>
  <div id="applier_list">
    <table class="table" id="applier_table">
      <thead>
        <th scope="col">아이디</th>
        <th scope="col">평점</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </thead>
      <tbody th:if="${not #lists.isEmpty(applyList)}">
        <tr th:each="apply : ${applyList}" th:if="${apply.apply_status == null}">
          <td th:text="${apply.user_id}"></td>
          <td th:text="${apply.score}"></td>
          <td><input type="button" class="btn btn-secondary" value="채팅하기"></td><!--채팅페이지로 넘어가는 기능 추가할것-->
          <td><input type="button" class="btn btn-primary" th:onclick="openModal2([[${apply.user_id}]],[[${post_id}]],'accept' )" value="수락"/></td>
          <td><input type="button" class="btn btn-danger" th:onclick="openMOodal2([[${apply.user_id}]],[[${post_id}]],'deny' )" value="거절"/></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div id="member_container">
  <h2>신청 수락 리스트</h2>
  <div id="member_table">
    <table class="table">
      <thead>
        <th scope="col">아이디</th>
        <th scope="col">이메일</th>
        <th scope="col">평점</th>
        <th scope="col"></th>
      </thead>
      <tbody th:if="${not #lists.isEmpty(applyList)}">
        <tr th:each="apply : ${applyList}" th:if="${apply.apply_status != null}">
          <td th:text="${apply.user_id}"></td>
          <td th:text="${apply.email}"></td>
          <td th:text="${apply.score}"></td>
          <td th:if="${apply.apply_status == 'confirm'}"><input class="btn btn-danger" type="button" th:onclick="openModal2([[${apply.user_id}]],[[${post_id}]],'deny' )" value="수락 취소"/></td>
          <td class="text-warning"th:if="${apply.apply_status == 'master'}">팀장</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button th:onclick="openModal([[${post_id}]])" class="btn btn-primary">팀 스페이스생성</button>
</div>
<div id="modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">알림</h5>
        <button type="button" class="btn-close" onclick="closeModal()" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="/CreateTeamspacePro" >
        <h6>정말 팀원을 확정하고 팀스페이스를 생성하시겠습니까?</h6>
        <input type="text" name="teamspace_name" class="form-control" placeholder="TeamspaceName" aria-label="TeamspaceName" aria-describedby="basic-addon1">
          <table class="table">
            <thead>
            <th scope="col">아이디</th>
            <th scope="col">이메일</th>
            <th scope="col">평점</th>
            <th scope="col"></th>
            </thead>
            <tbody th:if="${not #lists.isEmpty(applyList)}">
            <tr th:each="apply : ${applyList}" th:if="${apply.apply_status != null}">
              <td th:text="${apply.user_id}"></td>
              <td th:text="${apply.email}"></td>
              <td th:text="${apply.score}"></td>
              <td th:if="${apply.apply_status == 'confirm'}"></td>
              <td class="text-warning"th:if="${apply.apply_status == 'master'}">팀장</td>
            </tr>
            </tbody>
          </table>
        <div class="modal-footer">
          <button type="button" onclick="closeModal()" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>

            <input type="hidden" id="param_post_id" name="post_id">

            <input type="submit" class="btn btn-primary"value="생성하기">
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="modal2" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">알림</h5>
        <button type="button" class="btn-close" onclick="closeModal2()" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6 id="modal2h6"></h6>
        <div class="modal-footer">
          <form method="post" action="/CreateTeamspacePro" id="modal2_form">
            <input type="hidden" id="modal2_post_id" name="post_id"/>
            <input tpye="hidden" id="modal2_user_id" name="user_id"/>
            <input type="submit" class="btn btn-primary"value="네"/>
          </form>
          <button type="button" onclick="closeModal2()" class="btn btn-secondary" data-bs-dismiss="modal">아니오</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>