<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table table-hover">
  <thead class="table-danger">
  <tr class="tr_td">
    <th>분류</th>
    <th>프로젝트명</th>
    <th>게시자</th>
    <th>모집 분야</th>
    <th>모집 언어</th>
    <th>마감일</th>
    <th>보증금</th>
    <th>비고</th>
  </tr>
  </thead>


  <tbody id="t_body">
  <tr id="t_body_lst" th:each="board: ${boardList}">
    <td class = "font-weight-bold" th:text="${board.subject}"></td>
    <td class = "font-weight-bold" th:text="${board.title}"></td>
    <td class = "font-weight-bold" th:text="${board.user_id}"></td>
    <td class = "font-weight-bold" th:text="${board.typeContent}"></td>
    <td class = "font-weight-bold" th:text="${board.languageContent}">d</td>
    <td class = "font-weight-bold" th:text="${board.enddate}"></td>
    <td class = "font-weight-bold" th:text="${board.deposit}+'만원'"></td>
    <td><a class="btn btn-outline-dark" th:href="@{|/post/res/${board.post_id}|}">자세히 보기</a></td>
  </tr>
  </tbody>
</table>
</body>
</html>